* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: wheat;
  color: #212121;
  line-height: 1.5;

}

:root {
  --color-buton-negativ: #FF4E4E;
  --color-buton-negativ-hover: #FF7070;
  --color-buton-txt:  #FFF;
  --color-buton-positiv:#4E75FF;
  --color-buton-positiv-hover:#6C8CFF;
  --color-background-one: #F6F6FE;
  --color-background-two: #808080;
  --color-txt-one:#2E2F42;
}

.gallery {
  list-style: none;
  padding: 0px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.gallery-item {
  width: calc((100% - 36px) / 3);
  display: inline;
}
.gallery-link{
  text-decoration: none;
}
.gallery-image {
  width: 98%;
  padding: 2%;
  transition-duration: 2s;
  height: 32vh;
}

.gallery-image:hover {
  background-color: var(--color-txt-one);
  width: 96%;
}

.task2-div {

  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
}

